body{
    margin: 20px!important;
    background-color: rgb(255, 253, 225)!important;
}

label{
    margin: 10px!important;
}

button{
    margin-top: 30px!important;
    width: 70px!important;
}

input{
    height: auto;
    width: 150px!important;
    text-align: center;
}
.email{
    width: 280px!important;
}

.div_animacion{
    position: relative;
    top: 200px;
}

.bola{
    width: 10px;
    height: 10px;
    background-color: rgb(119, 33, 33);
    border: red 3px solid;
    border-radius : 10px;
    position: relative;
  }

.cargando{
    position:relative;
    left: 25px;
}