body{
  background-color: aqua!important;
  margin: 50px 40px 20px 20px!important;
}

input {
width: 20rem!important;
margin-bottom: 50px!important;
}

.btn-primary{
margin-left: 30px!important;
}

.btn-success{
  margin-left: 10px!important;
}