body {
  background-color: #c3ffeb !important;
  margin: 0;
  margin: 10px 10px 10px 10px !important; }
  body h1 {
    text-align: center;
    margin-top: 20px !important; }
  body .div__diodos__label--items {
    justify-content: center;
    align-items: baseline;
    margin-top: 18px !important; }
  body .div__diodos__inputs {
    margin-top: 5px !important; }
    body .div__diodos__inputs--items {
      justify-content: center;
      align-items: baseline;
      margin-top: 6px !important;
      height: 18%; }
  body .div__diodos__btn {
    margin-top: 20px; }
