body {
  background-color: #c3ffeb !important;
  margin: 0;
  margin: 10px 10px 10px 10px !important; }
  body h1 {
    text-align: center;
    margin-top: 20px !important; }
  body .div__sep {
    margin-top: 5px !important; }
    body .div__sep .width-10em {
      width: 10em;
      margin-bottom: 10px; }
    body .div__sep .width-13em {
      width: 13em; }
    body .div__sep .select {
      text-align-last: center;
      color: #000;
      background-color: #ffffff; }
