body{
    background-color: rgb(195, 255, 235)!important;
    margin: 0;
}

h1{
    text-align: center;
    margin-top: 20px!important;
}

.div_data_items{
    justify-content: center;
    align-items: baseline;

}

.div_data_items-labels{
    justify-content: center;
    align-items: baseline;
    margin-top: 18px!important;
}

.div_data_items-inputs{
    justify-content: center;
    align-items: baseline;
    margin-top: 6px!important;
    height: 18%;
}

.div_inputs{
    margin-top: 5px!important;
}