h1{
    font-size: 8vh!important;
    text-align: center;
    color: rgb(39, 39, 39);
}
h2{
    text-align: center;
    color: rgb(39, 39, 39);
}
h3{
    text-align: center;
    color: rgb(39, 39, 39);
} 
div{
    
    p{
        font-size: 3vh;
        color: rgb(0, 151, 8);
    }
}