body{
    background-color: rgb(195, 255, 235)!important;
    margin: 0;

    h1{
        text-align: center;
        margin-top: 20px!important;
    }

    .div__label{
        
        &-items{
            justify-content: center;
            align-items: baseline;
            margin-top: 18px!important;   
        }
    }

    .div__inputs{
        margin-top: 5px!important;

        &-items{
            justify-content: center;
            align-items: baseline;
            margin-top: 6px!important;
            height: 18%;
        }
    }

    .btn{
        margin-top: 20px;
    }








    



}